{% extends 'base_adm.html' %}

{% block title %}Adicionar Tradução{% endblock %}

{% block content %}
<div class='content-box'>
    <h1>Adicionar Tradução</h1>
    <form id="form-container" method="POST">
        {% csrf_token %}
        <div class="input-box">
            {{word_kokama_form}}
            <label>Palavra em Kokama:</label>
        </div>

        <div class="drop-down-box">
            <label class="drop-down-text" for="type_pronunciation">
                Escolha um tipo de pronúncia:
            </label>
            {{pronunciation_choises_form}}
        </div>

        {{word_portuguses_formset.management_form}}
        {% for form in word_portuguses_formset %}
        <div class="word-portuguese-form">
            <div class="input-box w350px">
                {{form}}
                <label>Palavra em Português:</label>
            </div>
            <a id="trash-portuguese" onclick="ExcludeParent(this)">
                <em class="fas fa-trash"></em>
            </a>
        </div>
        {% endfor %}
        <div class="right-align" id="box-word-portuguese-form">
            <button class="submit-buttom small-button" id="add-portuguse-word-form" type="button">Adicionar Nova Palavra</button>
        </div>

        {{phrase_formset.management_form}}
        {% for form in phrase_formset %}
        <div class="phrase-form">
            <div class="input-box w350px">
                {{form.phrase_kokama}}
                <label>Frase em Kokama:</label>
            </div>
            <a id="trash-phrase" onclick="ExcludeParent(this)">
                <em class="fas fa-trash"></em>
            </a>
            <div class="input-box w350px">
                {{form.phrase_portuguese}}
                <label>Frase em Português:</label>
            </div>
        </div>
        {% endfor %}
        <div class="right-align" id="box-phrase-form">
            <button class="submit-buttom small-button" id="add-phrase-form" type="button">Adicionar Nova Frase</button>
            <button class="submit-buttom" type="submit">Salvar</button>
        </div>
    </form>
</div>


<script>
    document.querySelector("#id_word-portuguese-0-word_portuguese").required = true
    document.querySelector("#id_phrase-0-phrase_kokama").required = true
    document.querySelector("#id_phrase-0-phrase_portuguese").required = true

    document.querySelector("#id_word-portuguese-0-word_portuguese").parentElement.parentElement.children[1].style.display = 'none'
    document.querySelector("#id_phrase-0-phrase_kokama").parentElement.parentElement.children[1].style.display = 'none'

    let phraseForm = document.querySelectorAll(".phrase-form")
    let container = document.querySelector("#form-container")
    let addPhraseButton = document.querySelector("#add-phrase-form")
    let totalPhraseForms = document.querySelector("#id_phrase-TOTAL_FORMS")

    let phraseFormNum = phraseForm.length - 1
    addPhraseButton.addEventListener('click', addPhraseForm)

    function addPhraseForm(e) {
        e.preventDefault()

        let newForm = phraseForm[0].cloneNode(true)
        let formRegex = RegExp(`phrase-(\\d){1}-`, 'g')

        phraseFormNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `phrase-${phraseFormNum}-`)
        container.insertBefore(newForm, document.querySelector("#box-phrase-form"))

        totalPhraseForms.setAttribute('value', `${phraseFormNum + 1}`)

        document.querySelector(`#id_phrase-${phraseFormNum}-phrase_kokama`).parentElement.parentElement.children[1].style.display = 'inline'
        // document.querySelector(`#id_phrase-${phraseFormNum}-phrase_kokama`).parentElement.parentElement.children[1].addEventListener('click', ExcludeParent)
    }

    let wordPortuguseForm = document.querySelectorAll(".word-portuguese-form")
    let addWordPortugueseButton = document.querySelector("#add-portuguse-word-form")
    let totalWordPortugueseForms = document.querySelector("#id_word-portuguese-TOTAL_FORMS")

    let formWordPortugueseNum = wordPortuguseForm.length - 1
    addWordPortugueseButton.addEventListener('click', addWordPortugueseForm)

    function addWordPortugueseForm(e) {
        e.preventDefault()

        let newForm = wordPortuguseForm[0].cloneNode(true)
        let formRegex = RegExp(`word-portuguese-(\\d){1}-`, 'g')

        formWordPortugueseNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `word-portuguese-${formWordPortugueseNum}-`)
        newForm.firstElementChild.firstElementChild.setAttribute('value', '')
        container.insertBefore(newForm, document.querySelector("#box-word-portuguese-form"))

        totalWordPortugueseForms.setAttribute('value', `${formWordPortugueseNum + 1}`)

        document.querySelector(`#id_word-portuguese-${formWordPortugueseNum}-word_portuguese`).parentElement.parentElement.children[1].style.display = 'inline'
        // document.querySelector(`#id_word-portuguese-${formWordPortugueseNum}-word_portuguese`).parentElement.parentElement.children[1].addEventListener('click', ExcludeParent)
    }

    function ExcludeParent(element) {
        let num = 0
        let _id = 0
        if (element.id=="trash-portuguese") {
            formWordPortugueseNum--
            totalWordPortugueseForms.setAttribute('value', `${formWordPortugueseNum + 1}`)
            _id = element.parentElement.firstElementChild.firstElementChild.id.replace('id_word-portuguese-', '').replace('-word_portuguese', '')
            num = formWordPortugueseNum + 1
            for (let i = parseInt(_id); i < num; i++) {
                document.querySelector(`#id_word-portuguese-${i+1}-word_portuguese`).name = `word-portuguese-${i}-word_portuguese`
            }
        } else if (element.id=="trash-phrase") {
            phraseFormNum--
            totalPhraseForms.setAttribute('value', `${phraseFormNum + 1}`)
            _id = element.parentElement.firstElementChild.firstElementChild.id.replace('id_phrase-', '').replace('-phrase_kokama', '')
            num = phraseFormNum + 1
            for (let i = parseInt(_id); i < num; i++) {
                document.querySelector(`#id_phrase-${i+1}-phrase_portuguese`).name = `phrase-${i}-phrase_portuguese`
                document.querySelector(`#id_phrase-${i+1}-phrase_kokama`).name = `phrase-${i}-phrase_kokama`
            }
        }
        element.parentElement.remove()
    }
</script>
{% endblock %}