{% extends 'base_adm.html' %}

{% block title %}Adicionar História{% endblock %}

{% block content %}
<div class='content-box big'>
    {% if id %}
        <h1 class="content-title" >Editar História</h1>
    {% else %}
        <h1 class="content-title">Adicionar História</h1>
        {% comment %} <input type="button" id="change_language" value="Trocar idioma"/>
        <input type="button" id="add_translation" value="Adicionar tradução" style="margin-bottom:40px"/> {% endcomment %}
    {% endif %}
    <form id="form-container" action="/historia/adicionar_historia/{{id}}" method="POST">
        {% csrf_token %}

        <div class="drop-down-box bottom-space">
            <label class="drop-down-text" for="languages">
                Escolha um idioma:
            </label>
            <select name="languages" id="language_choice">
                <option value="Ambos">Ambos</option>
                <option value="Português">Português</option>
                <option value="Kokama">Kokama</option>
            </select>
        </div>

        {% for error in story_form.title_portuguese.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class='input-box'>
            {{ story_form.title_portuguese }}
            <label>Título Português:</label>
        </div>

        {% for error in story_form.text_portuguese.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class='textarea-input big-bottom-space'>
            <label>Texto Português:</label>
            {{ story_form.text_portuguese }}
        </div>

        {% for error in story_form.title_kokama.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class='input-box'>
            {{ story_form.title_kokama }}
            <label>Título Kokama:</label>
        </div>

        {% for error in story_form.text_kokama.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class='textarea-input big-bottom-space'>
            <label>Texto Kokama:</label>
            {{ story_form.text_kokama }}
        </div>

        <button class="submit-buttom" type="submit">Salvar</button>
</div>

<script>
    let title_1 = document.querySelector("#id_title_portuguese")
    let text_1 = document.querySelector("#id_text_portuguese")
    let title_2 = document.querySelector("#id_title_kokama")
    let text_2 = document.querySelector("#id_text_kokama")
    let page_title = document.querySelector("h1")
    let add_or_edit = page_title.innerText.split(" ")[0]

    let dropdown = document.getElementById("language_choice");
    dropdown.addEventListener("change", change_language)

    function change_language() {
        if (dropdown.value == "Português") {
            if (add_or_edit == "Editar") {
                page_title.innerText = "Editar História em Português"
            } else {
                page_title.innerText = "Adicionar História em Português"
            }
            
            title_2.parentElement.style.display="none"
            text_2.parentElement.style.display="none"
            title_2.value = ""
            text_2.value = ""

            title_1.parentElement.style.display="block"
            text_1.parentElement.style.display="block"
        } else if (dropdown.value == "Kokama") {
            if (add_or_edit == "Editar") {
                page_title.innerText = "Editar História em Kokama"
            } else {
                page_title.innerText = "Adicionar História em Kokama"
            }
            title_1.parentElement.style.display="none"
            text_1.parentElement.style.display="none"
            title_1.value = ""
            text_1.value = ""

            title_2.parentElement.style.display="block"
            text_2.parentElement.style.display="block"
        } else {
            if (add_or_edit == "Editar") {
                page_title.innerText = "Editar História"
            } else {
                page_title.innerText = "Adicionar História"
            }
            title_1.parentElement.style.display="block"
            text_1.parentElement.style.display="block"

            title_2.parentElement.style.display="block"
            text_2.parentElement.style.display="block"
        }
    }

</script>

{% endblock %}



