{% extends 'base_adm.html' %}

{% block title %}Adicionar História{% endblock %}

{% block content %}
<div class='content-box big'>
    {% if id %}
        <h1 class="content-title" >Editar História</h1>
    {% else %}
        <h1 class="content-title">Adicionar História</h1>
        {% comment %} <input type="button" id="change_language" value="Trocar idioma"/>
        <input type="button" id="add_translation" value="Adicionar tradução" style="margin-bottom:40px"/> {% endcomment %}
    {% endif %}
    <form id="form-container" action="/historia/adicionar_historia/{{id}}" method="POST">
        {% csrf_token %}

        <div class="drop-down-box bottom-space">
            <label class="drop-down-text" for="languages">
                Escolha um idioma:
            </label>
            <select name="languages" id="language_choice">
                <option value="Ambos" selected>Ambos</option>
                <option value="Português">Português</option>
                <option value="Kokama">Kokama</option>
            </select>
        </div>

        {% for error in story_form.title_portuguese.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class='input-box'>
            {{ story_form.title_portuguese }}
            <label>Título Português:</label>
        </div>

        {% for error in story_form.text_portuguese.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class='textarea-input'>
            <label>Texto Português:</label>
            {{ story_form.text_portuguese }}
        </div>

        {% for error in story_form.title_kokama.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class='input-box' style="margin-top:40px">
            {{ story_form.title_kokama }}
            <label>Título Kokama:</label>
        </div>

        {% for error in story_form.text_kokama.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class='textarea-input'>
            <label>Texto Kokama:</label>
            {{ story_form.text_kokama }}
        </div>

        <button class="submit-buttom" type="submit">Salvar</button>
</div>

<script>
    let title_1 = document.querySelector("#id_title_portuguese")
    let text_1 = document.querySelector("#id_text_portuguese")
    let title_2 = document.querySelector("#id_title_kokama")
    let text_2 = document.querySelector("#id_text_kokama")
    let add_or_edit = document.querySelector("h1")

    if (add_or_edit.innerText == "Editar História") {
        add_button.style.display = "none"


    // Adicionando
    } else {
        title_2.parentElement.style.display = "none"
        text_2.parentElement.style.display = "none"

        let add_button = document.querySelector("#add_translation")
        add_button.addEventListener("click", add_translation)
        let change_lang_button = document.querySelector("#change_language")
        change_lang_button.addEventListener("click", change_language)

        function add_translation() {
            if (add_button.value == "Remover tradução") {
                change_lang_button.style.display = "block"
                add_button.value = "Adicionar tradução"
                title_2.parentElement.style.display = "none"
                text_2.parentElement.style.display = "none"
                title_2.value = ""
                text_2.value = ""
            } else {
                change_lang_button.style.display = "none"
                add_button.value = "Remover tradução"
                title_1.parentElement.style.display = "block"
                text_1.parentElement.style.display = "block"
                title_2.parentElement.style.display = "block"
                text_2.parentElement.style.display = "block"
            }
        }

        function change_language() {
            if (title_1.parentElement.style.display == "none") {
                title_2.parentElement.style.display="none"
                text_2.parentElement.style.display="none"
                title_2.value = ""
                text_2.value = ""

                title_1.parentElement.style.display="block"
                text_1.parentElement.style.display="block"
            } else {
                title_1.parentElement.style.display="none"
                text_1.parentElement.style.display="none"
                title_1.value = ""
                text_1.value = ""

                title_2.parentElement.style.display="block"
                text_2.parentElement.style.display="block"
            }
        }
        
    }




    {% comment %} let container = document.querySelector("#form-container")
    let language_dropdown = document.querySelector("#id_language")
    let titleArea = document.querySelector(".input-box")
    let textArea = document.querySelector(".textarea-input")
    let submitButton = document.querySelector(".submit-buttom")

    let newTitleArea = titleArea.cloneNode(true)
    let newTitleForm = newTitleArea.children[0]
    newTitleForm.setAttribute('value', '')
    container.appendChild(newTitleArea)

    let newTextArea = textArea.cloneNode(true)
    let newTextForm = newTextArea.children[0]
    newTextForm.setAttribute('value', '')
    container.appendChild(newTextArea)

    
    container.appendChild(submitButton)

    language_dropdown.onchange = function() {
        language = language_dropdown.value
        if (language == 1) {
            newTitleArea.style.display='block'
            newTitleArea["children"].id_title.required = true
            newTextArea.style.display='block'
            newTextArea["children"].id_text.required = true
        }
        else {
            newTitleArea.style.display='none'
            newTitleArea["children"].id_title.required = false
            newTextArea.style.display='none'
            newTextArea["children"].id_text.required = false
        }

    }; {% endcomment %}



</script>

{% endblock %}



