{% extends 'base_adm.html' %}
{% block content %}

<div class="content-box">
	<h1 class="content-title">Recuperação de Senha</h1>
	<div class="text_word" >
		<h3>Esqueceu a Senha? Por favor, digite o seu endereço de email
			cadastrado para enviarmos um link de redefinição
		</h3>
	</div>
	<br/>
	<form action="" method="POST" class="content-bo" >
		{% csrf_token %}
		{% for error in form.email.errors %}
            <p class=>{{ error }}</p>
        {% endfor %} 
		<div class="input-box">
			{{form.email}}
			<label> Email:</label>
		</div>
		<input class="submit-buttom" type="submit" value="Enviar para email" /><br>
	</form><br/>
</div>


{% endblock%}
