{% extends 'base_adm.html' %}

{% block title %}Redefinir Senha{% endblock %}

{% block content %}

<!--Password reset sent-->
<div class="content-box">
	<h1 class="content-title">Cheque o seu email</h1>
	<div class="text_word">
		<h3>Enviamos para o seu email as instruções para a redefinição de senha.</h3>
	</div>
	<h5 class="red-text">
		Se após 5 minutos vocẽ não receber o email, por favor verifique sua caixa de spam e
		se o email foi digitado corretamente.
	</h5>

	<div class="center" style="margin-top: 10px; margin-bottom: 10px;">
		<a href="/administracao/password_reset">
			Enviar novamente
		</a>
	</div>

	<a href="/administracao/login">
		<button class="submit-buttom">Voltar para o Login</button>
	</a>
</div>

{% endblock %}