{% extends 'base_adm.html' %}

{% block title %}Recuperar Senha{% endblock %}

{% block content %}

  <!--Password Reset Confirm-->
    <div class="content-box">
	    <h2>Recuperando a Senha</h2>
      <p><strong>Digite sua nova senha, por favor.</strong></p>
      
        <form method="POST">
            {% csrf_token %}

            {% for error in form.new_password1.errors %}
            <p style="color: #F23232;">{{ error }}</p>
             {% endfor %}

            <div class="input-box">
              {{form.new_password1}}  
              <label>Nova senha:</label>
            </div>  

          {% for error in form.new_password2.errors %}
            <p style="color: #F23232;">{{ error }}</p>
             {% endfor %}

            <div class="input-box">
              {{form.new_password2}}  
              <label>Confirme a senha:</label>
            </div>  

            <button class="submit-buttom" type="submit">OK</button>
        </form>
    </div>

{% endblock %}
