{% extends 'base_adm.html' %}

{% block title %}Login de Administrador{% endblock %}

{% block content %}

<div class="content-box">
  <h1 class="content-title">Login</h1>
  <form action="/administracao/login/" method="post">
    {% csrf_token %}

    {% for error in form.username.errors %}
    <p class=>{{ error }}</p>
    {% endfor %}
    <div class="input-box">
      <input name="username" type="text" required>
      <label>Nome de usuário:</label>
    </div>
    {% for error in form.password.errors %}
    <p class="red-text">{{ error }}</p>
    {% endfor %}
    <div class="input-box">
      <input name="password" type="password" required>
      <label>Senha:</label>
    </div>

    <div class="red-text">
      <a href="/administracao/password_reset" target="_self">
      Esqueci a senha</a>
    </div>

    <input class="submit-buttom" value="Entrar" name="submit" type="submit">
  </form>
</div>

{% endblock %}
