{% extends 'base_adm.html' %}

{% block title %}Recuperar{% endblock %}

{% block content %}

<div class="content-box">
  <h1 class="content-title">Recuperar a Senha</h1>
  <form action="/administracao/recuperacao/" method="post">
    {% csrf_token %}

    {% for error in form.username.errors %}
    <p class=>{{ error }}</p>
    {% endfor %}
    <div class="input-box">
      <input name="username" type="text" required>
      <label>Nome de usuário:</label>
    </div>

    <input class="submit-buttom" value="Entrar" name="submit" type="submit">
  </form>
</div>

{% endblock %}
